* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background-color: #d57a7a;
    overflow: auto;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

#logo {
    height: 60px;
}

nav > ul > li {
    display: inline;
    margin: 10px;
}

.row img {
    height: 240px;
}

[class*="col-"] p {
    margin-top: 0;
    margin-bottom: 0;
}

.objective > img {
    max-width: 500px;
}

#accommodations > ul > li {
    display: inline;
}

#accommodations > ul > li > p {
    margin-top: 0;
}

#accommodations > ul > li img {
    width: 270px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px 15px 0;
    height: 300px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: clip;
    overflow-clip-margin: content-box;
}

.row {
    text-align: center;
}

.row::after {
    content: "";
    clear: both;
display: table;
}

article {
    padding: 0 10px 20px;
}

button[type="submit"] {
    display: block;
    margin-top: 10px;
}

form > div {
    padding-bottom: 10px;
}

#contact textarea {
    resize: none;
}

@media only screen and (max-width: 1024px) {
    /* For tablets: */
    [class*="col-"] {
        width: 50%;
    }

    nav > ul > li {
        display: block;
    }

    nav {
        margin-left: auto;
    }

    nav > ul {
        padding-left: 0;
    }

    .objective > img {
        max-width: 400px;
    }
}

@media only screen and (max-width: 480px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    .objective > img {
        max-width: 200px;
    }
}